# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Rock-Paper-Scissors (Java)/*
!/Rock-Paper-Scissors (Java)/task/
/Rock-Paper-Scissors (Java)/task/*
!/Rock-Paper-Scissors (Java)/task/src
